name: Go
on:
  push:
    branches:
      - master
      - pre-generics
  pull_request:

env:
  GOPROXY: ${{ vars.GOPROXY }}

jobs:
  lint:
    name: Lint
    runs-on: ${{ vars.RUNNER_UBUNTU && fromJSON(vars.RUNNER_UBUNTU) || 'ubuntu-latest' }}
    steps:
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.22
        check-latest: true
        cache: false

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v6

  build:
    name: Build
    runs-on: ${{ vars.RUNNER_UBUNTU && fromJSON(vars.RUNNER_UBUNTU) || 'ubuntu-latest' }}
    steps:
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.22
        check-latest: true
        cache: false

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Build
      run: make build

  test:
    name: Test
    runs-on: ${{ vars.RUNNER_UBUNTU && fromJSON(vars.RUNNER_UBUNTU) || 'ubuntu-latest' }}
    steps:
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.22
        check-latest: true
        cache: false

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Run tests
      run: make test

    - name: Calculate coverage
      run: make coverage
